<!DOCTYPE html>

<html ng-app="app">

<head>
  <!-- Include External Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.8/angular-sanitize.min.js"></script>

  <!-- Include External Styles -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
  <!-- icons -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
  <!-- font -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- more icons -->

  <!-- Angular Aria Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>

  <!-- Angular Animate Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

  <!-- Include all your javascript here. Also include the module before the controller -->
  <script src="app.module.js"></script>
  <script src="app.route.js"></script>

  <!-- Components -->
  <script src="navagation-bar/navagation-bar.component.js"></script>
  <script src="footer/footer.component.js"></script>

  <!-- Controllers -->
  <script src="test/test.controller.js"></script>
  <script src="pba-index/pba-index.controller.js"></script>
  <script src="owner-index/owner-index.controller.js"></script>
  <script src="blockchain/blockchain.controller.js"></script>
  <script src="owner-detail/owner-detail.controller.js"></script>
  <script src="pba-detail/pba-detail.controller.js"></script>
  <script src="navagation-bar/navagation-bar.controller.js"></script>
  <script src="footer/footer.controller.js"></script>
  <script src="create-gbs/create-gbs.controller.js"></script>
  <script src="home/home.controller.js"></script>
  <script src="accountant-login/accountant-login.controller.js"></script>

  <!-- Services -->
  <script src="services/survey.service.js"></script>
  <script src="services/blockchain.service.js"></script>
  <script src="services/elasticsearch.service.js"></script>

  <!-- Form Validation Directives -->
  <!-- EXAMPLE: <script src="validators/contain-uppercase.js"></script> -->

  <!-- Custom Styles -->
  <link rel="stylesheet" type="text/css" href="/app.css">

  <link href="/unity-1.1.1/css/em-unity-1.1.1.min.css" media="all" rel="stylesheet" />
  <script type="text/javascript" src="/unity-1.1.1/js/vendor/svg4everybody.min.js"></script>

</head>

<body>

  <toolbar></toolbar>

  <div id="main">
    <div ui-view>

    <center>
    <br><br>
      <h1> GBS Platform </h1><br>
      <h5> Hosted by ExxonMobil </h5>
    <br><br>
    </center>

      <md-card style="width:900px;margin-right: auto;margin-left: auto;">
        <md-toolbar style="background-color: #FE000C;">
          <div class="md-toolbar-tools">
            <h2><span>Login</h2>
          </div>
        </md-toolbar>
        <md-card-content>
        <div>
          <md-input-container style="width:100%;">
            <label>Email</label>
            <input type="text" class="text-area" ng-model="email">
          </md-input-container>
        </div>
        <div>
          <md-input-container style="width:100%;">
            <label>Password</label>
            <input type="password" class="text-area" ng-model="password">
          </md-input-container>
        </div>

        <center>
        <md-button style="background-color: #FE000C;" ui-sref="pba-index" class="md-raised md-primary">
            Login
        </md-button>
        </center>
        </md-card-content>
      </md-card>

      <br><br>
      <center>
        <h6> Supported by Etherium</h6><br>
        <IMG HEIGHT=5% WIDTH=5% SRC="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXVXF5JqugayO9JqdGni8RYYT57b6By0pAy5xzmZnwlQ7DpTgo">
      </center>
      <br><br>



    </div>
  </div>

</body>

</html>