.uppercase {
  text-transform: uppercase;
}

.exxon-gray {
  color: darkgrey;
}

.abbrev {
  font-weight: 400;
}

.align-bottom {
  align-items: baseline;
}

.align-top {
  align-items: baseline;
}

body, html {
  height: auto !important;
}

.text-area {
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  width: 100%
}

.flex {
  display: flex;
  flex-direction: column;
}

.md-button.md-small {
  width: 25px;
  height: 25px;
  min-width: 10%;
  line-height: 20px;
  min-height: 25px;
  vertical-align: top;
  font-size: 10px;
  padding: 0 0;
  margin: 0;
}
