<!DOCTYPE html>
<html>
    <body>

      <div ng-controller="testController">
          <center>

                    <form name="nameform">
                      <md-input-container>
                          <label>What is your name? </label>
                          <textarea ng-model="name"></textarea>
                      </md-input-container>
                    </form>
                    <br>
                  

              <md-button class="md-raised" ui-sref="home" md-theme="default">
                  BACK
              </md-button>

              <br>
              <br>
              <br>

              Elasticsearch Tests:
              <br>
              <br>
              <br>
              <md-button ng-click="addContact()" class="md-raised" md-theme="default">
                    Add a contact...
              </md-button>
              <md-button ng-click="getAllContacts()" class="md-raised" md-theme="default">
                    Get All Contacts
              </md-button>
              <md-button ng-click="addAddress()" class="md-raised" md-theme="default">
                    Add Addresses
              </md-button>
              <md-button ng-click="getAllAddresses()" class="md-raised" md-theme="default">
                    Get Addresses
              </md-button>
              <md-button ng-click="addCompany()" class="md-raised" md-theme="default">
                    Add Companies
              </md-button>
              <md-button ng-click="getAllCompanies()" class="md-raised" md-theme="default">
                    Get Companies
              </md-button>
              <md-button ng-click="addPBA()" class="md-raised" md-theme="default">
                    Add PBA
              </md-button>
              <md-button ng-click="getAllPBAs()" class="md-raised" md-theme="default">
                    Get PBAs
              </md-button>
              <md-button ng-click="addContract()" class="md-raised" md-theme="default">
                    Add Contract
              </md-button>
              <md-button ng-click="getAllContracts()" class="md-raised" md-theme="default">
                    Get Contracts
              </md-button>
               <md-button ng-click="addGasCollection()" class="md-raised" md-theme="default">
                    Add Gas Collections
              </md-button>
              <md-button ng-click="getAllGasCollections()" class="md-raised" md-theme="default">
                    Get Gas Collections
              </md-button>
              <md-button ng-click="getCompanyIdFromContract()" class="md-raised" md-theme="default">
                    Get Company Id From Contract
              </md-button>
              <md-button ng-click="getContractFromPbaAndCompany()" class="md-raised" md-theme="default">
                    Get Contract from PBA and Company Name
              </md-button>


              <br><br><br>

              Blockchain tests:
              <br><br>

              <md-input-container>
                  <label>Contract Id </label>
                  <textarea ng-model="contractId"></textarea>
              </md-input-container> {{contractId}}
              <br>
              <md-input-container>
                  <label>Entitlement </label>
                  <textarea ng-model="entitlement"></textarea>
              </md-input-container> {{entitlement}}
              <br>
              <md-input-container>
                  <label>Actual </label>
                  <textarea ng-model="actual"></textarea>
              </md-input-container> {{actual}}
              <br>
              <md-input-container>
                  <label>Date </label>
                  <textarea ng-model="date"></textarea>
              </md-input-container> {{date}}
              <br>
              <md-input-container>
                  <label>Previous Balance </label>
                  <textarea ng-model="previousBalance"></textarea>
              </md-input-container> {{previousBalance}}
              <br><br>
              <md-button ng-click="addAllocation()" class="md-raised" md-theme="default">
                    Submit Allocation
              </md-button>
              <br><br>
              <md-button ng-click="getAllocation()" class="md-raised" md-theme="default">
                    Get Allocation
              </md-button>

              <br><br>
              <md-input-container>
                  <label>Company Id </label>
                  <textarea ng-model="companyId"></textarea>
              </md-input-container> {{companyId}}
              <br>
              <md-button ng-click="getBalance()" class="md-raised" md-theme="default">
                    Get Balance
              </md-button>

              <br><br>
              <md-input-container>
                  <label>Company Id </label>
                  <textarea ng-model="companyId"></textarea>
              </md-input-container> {{companyId}}
              <md-input-container>
                  <label>Balance </label>
                  <textarea ng-model="balance"></textarea>
              </md-input-container> {{balance}}
              <br>
              <md-button ng-click="setBalance()" class="md-raised" md-theme="default">
                    Set Balance
              </md-button>


          </center>
        </div>
    </body>
</html>